.Peculiarities {
    padding-top: 94px;
    padding-bottom: 94px;
}

.peculiarities-list {
    display: flex;
    margin-right: -30px;

}

.peculiarities-item {
    flex-basis: calc(100% / 3 - 30px);
    margin-right: 30px;
    &::before {
            content: "";
            width: 270px;
            height: 120px;
            display: block;
            background-color: #F5F4FA;
            background-repeat: no-repeat;
            background-position: center;
            background-size: auto;
            border-radius: 4px;
            margin-bottom: 30px;
        }
}

@each $icons in antenna, clock, diagram, astronaut {
.icon-#{$icons}::before {
    background-image: url('../images/#{$icons}.svg');
}
}

// .icon-antenna::before {
//     background-image: url('../images/antenna.svg');
// }

// .icon-clock::before {
//     background-image: url('../images/clock.svg');
// }

// .icon-diagram::before {
//     background-image: url('../images/diagram.svg');
// }

// .icon-astronaut::before {
//     background-image: url('../images/astronaut.svg');
// }

.peculiarities-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--header-color);
    margin-bottom: 10px;
}

.peculiarities-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--alternative-color);
}